<div class="allsearch">
  <p class="psearch">Search heroes</p>
  <div class="input1">
    <input #searchBox id="search-box" (input)="search(searchBox.value)" placeholder="Hero search"/>
  </div>
  
  <div id="search-component">
      <!--<label for="search-box">Hero Search</label>-->
      <ul class="search-result">
        <li *ngFor="let hero of heroes$ | async" >
          <a routerLink="/detail/{{hero.id}}">
            {{hero.name}}
          </a>
        </li>
      </ul>
  </div>
</div>

